{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
    <div class="container">
        {% for article in articles %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{article.title}}</h5>
                <p class="card-text">{{article.description}}</p>
                <p class="card-text">{{article.createdAt | date('d/m/Y H:i:s')}}</p>
                <a href="{{path('updateArticle', {id: article.id})}}"><button class="btn btn-warning">Modifier</button></a>
                <a href="{{path('removeArticle', {id: article.id})}}"><button class="btn btn-danger">Supprimer</button></a>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container mt-5">
        {{ form_start(articleForm) }}
        {{form_row(articleForm.title)}}
        {{form_row(articleForm.description)}}
            <select name="categorieId" id="">
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{categorie.name}}</option>
                {% endfor %}
            </select>
            <button type="submit">Envoyer</button>
        {{ form_end(articleForm) }}
    </div>
{% endblock %}
